/* .carousel {
} */

.product {
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.product > img {
  width: 80%;
  object-fit: cover;
}

.product > div {
  padding: 20px 0px;
}

.product > div > p {
  text-align: center;
}

.product > div > p:first-child {
  font-weight: 500;
  margin-bottom: 10px;
}

.preProduct {
  padding: 0px 40px;
  display: none;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
}

.preProduct > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.preProduct > div > p:first-child {
  font-weight: 500;
  margin: 5px 0px;
}

.preProduct > div > h1:nth-child(2) {
  font-size: 30px;
  position: relative;
  left: -2px;
}

.preProduct > div > p:nth-child(3) {
  margin: 20px 0px;
}

.preProduct > div > div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

/* responsive css below */

@media all and (max-width: 1024px) {
  .preProduct {
    display: grid;
  }

  .product > img {
    width: 70%;
  }

  .product {
    height: 500px;
  }
}

@media all and (max-width: 900px) {
  .product > img {
    width: 80%;
  }
}

@media all and (max-width: 800px) {
  .product > img {
    width: 90%;
  }
}

@media all and (max-width: 640px) {
  .preProduct {
    padding: 0px 20px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: flex-start;
  }

  .product > img {
    width: 65%;
  }
}
