.section06 {
  padding: 150px 0px 20px;
}

.section06 > h1:first-child {
  font-size: 30px;
  line-height: 40px;
  margin: 10px 0px;
  padding: 0px 80px;
  width: 100%;
}

@media all and (max-width: 640px) {
  .section06 {
    padding: 100px 0px 20px;
  }

  .section06 > h1:first-child {
    margin: 10px 0px 50px 0px;
    margin: 0px;
    text-align: left;
    padding: 0px 30px;
  }
}
